#card {
  background-color: hsl(216, 50%, 16%);
  width: 80%;
  min-height: 85%;
  border-radius: 5%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 769px) {
  #card {
    width: 25%;
    padding: 1rem;
  }
}
#card .card__img {
  position: relative;
  border-radius: 5%;
}
#card .card__img:hover::after {
  display: block;
}
#card .card__img img {
  width: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 5%;
}
#card .card__img::after {
  content: "";
  background-image: url(../img/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-radius: 5%;
}
#card h1 {
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
}
@media screen and (min-width: 769px) {
  #card h1 {
    margin-top: 0.5rem;
  }
}
#card .card__discription p {
  color: hsl(215, 51%, 70%);
  line-height: 1.5rem;
}
@media screen and (min-width: 769px) {
  #card .card__discription p {
    line-height: 1rem;
    font-size: 0.8rem;
  }
}
#card .card__equ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#card .card__equ .card__equ-eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#card .card__equ .card__equ-eth p {
  color: hsl(178, 100%, 50%);
}
@media screen and (min-width: 769px) {
  #card .card__equ .card__equ-eth p {
    font-size: 0.8rem;
  }
}
#card .card__equ .card__equ-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#card .card__equ .card__equ-clock p {
  color: hsl(215, 51%, 70%);
}
@media screen and (min-width: 769px) {
  #card .card__equ .card__equ-clock p {
    font-size: 0.8rem;
  }
}
#card .card__line {
  border: 1px;
  border-top-style: solid;
  border-color: hsl(215, 32%, 27%);
}
#card .card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#card .card__footer p {
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 769px) {
  #card .card__footer p {
    font-size: 0.8rem;
  }
}
#card .card__footer p span {
  color: hsl(215, 51%, 70%);
}
@media screen and (min-width: 769px) {
  #card .card__footer p span {
    font-size: 0.8rem;
  }
}
#card .card__footer .card__footer-img {
  width: 15%;
  position: relative;
  z-index: 1;
}
#card .card__footer .card__footer-img::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 100%;
  background-color: white;
  top: -2px;
  left: -2px;
  border-radius: 100px;
  z-index: -1;
}
#card .card__footer .card__footer-img img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  max-width: 100vw;
  background-color: hsl(217, 54%, 11%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=style.css.map */