* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Outfit', sans-serif;
}

@import "_var.scss";

@mixin phone(){
    @media screen and (max-width: 800px) {
        
    }
}
body{
    background-color: red;
        @media screen and (max-width:800px) {
            background-color: black;
        }
    
}